<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Достижения Фракции</title>
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <header style="margin-bottom: 50px">
      <nav>
        <span><a href="/">Главная</a></span>
        <span><a href="/events_list">События</a></span>
        <span><a href="/project_list">Проекты</a></span>
        <span><a href="/news_list">Новости</a></span>
        <span><a href="/chatAI">Чат с AI</a></span>
        <span><a href="/people_list">Участники</a></span>
        <span><a href="/achievements_list">Достижения Школы</a></span>
        <span><a href="/achievements_frac_list">Достижения Фракции</a></span>
        <span><a href="/ustav">Устав клуба</a></span>
      </nav>
    </header>

    <center>
      <section class="achievements-frac-list" style="margin-left: 350px">
        <center>
          <h1 style="color: #006400">Достижения Фракции</h1>
        </center>

        {% for achievement in achievements_frac %}
        <div class="achievements-frac-list">
          <h3>{{ achievement[0] }}</h3>
          <p><strong>Группа:</strong> {{ achievement[1] }}</p>
          <p><strong>Описание:</strong> {{ achievement[2] }}</p>
          <p><strong>Дата:</strong> {{ achievement[3] }}</p>
          <p>
            <strong>Файл:</strong>
            <a
              href="{{ url_for('static', filename='uploads/' + achievement[4]) }}"
              target="_blank"
              >Скачать</a
            >
          </p>
        </div>
        {% endfor %}
      </section>
    </center>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
