<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Актюбинская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Aktolagai%2C_Aktobe_region%2C_Kazakhstan.jpg"
          alt="Актюбинская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Актюбинская область расположена в западной части Казахстана. Это один
          из крупнейших регионов страны по территории. Столицей области является
          город Актобе. Область известна своей ролью в нефтяной и газовой
          промышленности, а также в сельском хозяйстве. Актюбинская область
          является важным промышленным и культурным центром региона.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Актюбинская область характеризуется разнообразными природными
          ландшафтами, включая степи, полупустыни и горные массивы. Регион богат
          природными ресурсами, включая нефть и газ. На территории области
          находятся несколько природных заповедников и памятников природы, таких
          как заповедник "Актобе" и горы Урал, которые привлекают туристов и
          экологов.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Культура Актюбинской области тесно связана с историей и традициями
          казахского народа. Регион славится своими народными промыслами, такими
          как ткачество, ковка и резьба по дереву. В Актюбинской области также
          находятся исторические памятники, такие как древние курганы и
          археологические памятники, которые свидетельствуют о долгой и богатой
          истории этого региона. В городе Актобе проходят культурные
          мероприятия, посвященные казахским традициям, музыке и искусству.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Актюбинская область является важным экономическим центром Казахстана.
          Регион активно развивает добывающую промышленность, особенно
          нефтегазовую отрасль, а также металлургию и машиностроение.
          Актюбинская область также известна развитым сельским хозяйством, в
          частности, производством зерновых культур, скота и молочных продуктов.
          Это регион с высоким потенциалом для дальнейшего экономического роста
          и развития.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Актюбинская область привлекает туристов своими природными красотами и
          историческими памятниками. Туристы могут посетить знаменитые природные
          ландшафты, такие как горы Урал и степи, а также принять участие в
          экотуризме. Регион известен своими уникальными памятниками истории,
          включая археологические раскопки и исторические памятники, которые
          рассказывают о древних культурах и народах, населявших эти земли.
          Активно развиваются и экологические маршруты, такие как путешествия по
          природным заповедникам области.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
