<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Акмолинская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://www.gov.kz/uploads/2023/3/14/3cadd6082ea7b93242fa0fa51a189d03_original.245412.jpg"
          alt="Акмолинская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Акмолинская область расположена в центральной части Казахстана и
          является важным административным, экономическим и культурным центром
          страны. Столицей области является город Кокшетау. Название региона
          происходит от казахских слов "ақ" (белый) и "мола" (священный), что
          означает "белое святилище". Акмолинская область известна своей
          историей, природными богатствами и разнообразием культур.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Акмолинская область отличается разнообразными природными ландшафтами:
          от степей до лесистых горных регионов. На территории области
          расположены уникальные природные зоны, включая Национальный парк
          "Бурабай", который является одним из самых популярных природных
          курортов Казахстана. Этот парк славится своими живописными озерами,
          чистым воздухом и разнообразием флоры и фауны.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Культура Акмолинской области тесно связана с историей казахского
          народа. Здесь находится множество исторических памятников, таких как
          древние курганы и мавзолеи, которые являются важными объектами
          культурного наследия. В регионе активно развиваются народные ремесла,
          казахская музыка, танцы и праздники. В городе Кокшетау проходят
          культурные мероприятия, такие как фестивали, выставки и концерты,
          посвященные казахской культуре.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Акмолинская область — это один из ключевых сельскохозяйственных
          регионов Казахстана. Здесь развиваются такие отрасли, как сельское
          хозяйство, пищевая промышленность и переработка сельскохозяйственных
          продуктов. В области также работают крупные предприятия в
          металлургической и химической промышленности. В последние годы также
          активно развивается туризм, что в свою очередь способствует росту
          экономического потенциала региона.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Акмолинская область — это регион с уникальными природными и
          историческими достопримечательностями, привлекающими туристов со всего
          мира. Одним из самых известных туристических объектов является Бурабай
          — природный курорт, где можно не только наслаждаться красивыми
          пейзажами, но и заниматься активным отдыхом, такими как пешие
          прогулки, плавание и рыбалка. Также на территории области можно
          посетить старинные памятники и исторические места, которые расскажут о
          древней истории региона.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
