<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Атырауская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://qazalem.ziz.kz/media/regions/slider/63d4a8142df783fb059d63d11359d543_1280x720.jpg"
          alt="Атырауская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Атырауская область расположена в западной части Казахстана и является
          важным промышленным и культурным центром. Столицей области является
          город Атырау. Этот регион играет ключевую роль в нефтяной и газовой
          промышленности Казахстана, а также обладает значительным транспортным
          потенциалом благодаря своему расположению на побережье Каспийского
          моря.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Атырауской области разнообразна, с преобладанием степных и
          полупустынных ландшафтов. Здесь расположен уникальный экосистемный
          комплекс дельты реки Урал, а также другие природные объекты, такие как
          озеро Каспий. Регион богат различными видами флоры и фауны, включая
          редкие виды животных и птиц, что делает его привлекательным для
          экологического туризма.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Атырауская область имеет долгую и богатую историю. Это место, где
          пересекаются разные культуры и народы. На территории региона находятся
          памятники древней архитектуры, такие как мавзолеи и курганы. В области
          активно развиваются традиции казахского народа, включая народную
          музыку, танцы, ремесла и кухню. Атырау также является важным
          культурным и образовательным центром региона, где проходят различные
          мероприятия, выставки и фестивали.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Атырауская область является одним из ведущих экономических регионов
          Казахстана, благодаря своим богатым природным ресурсам, включая нефть
          и газ. Регион является крупным центром для нефтегазовой
          промышленности, с многочисленными крупными предприятиями в этой
          отрасли. Также в Атырауской области развиваются такие отрасли, как
          сельское хозяйство, рыбное хозяйство и пищевая промышленность.
          Основным экспортом региона являются нефть и нефтехимическая продукция.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Атырауской области развивается благодаря ее уникальной
          природе и богатому культурному наследию. Здесь можно посетить такие
          природные достопримечательности, как Каспийское море, озера, реки и
          дельты, а также исторические памятники, такие как археологические
          раскопки и древние мавзолеи. В последнее время в регионе активно
          развиваются экологический туризм и культурные туры, с возможностью
          познакомиться с традициями и образом жизни местных жителей.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
