<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Западно-Казахстанская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/8/8e/%D0%9A%D0%B8%D1%80%D1%81%D0%B0%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9_%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%BD%D0%B8%D0%BA.jpg"
          alt="Западно-Казахстанская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Западно-Казахстанская область расположена на западе Казахстана,
          граничащая с Россией. Столицей области является город Орал. Регион
          известен своей важной ролью в сельском хозяйстве, пищевой и химической
          промышленности, а также в развитии нефтяной отрасли.
          Западно-Казахстанская область является важным транспортным узлом,
          соединяющим Казахстан с Россией и другими странами СНГ.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Западно-Казахстанской области разнообразна, включая степи,
          лесостепи и водоемы. В регионе расположены уникальные природные зоны,
          такие как озера и реки, среди которых можно выделить реку Урал. Это
          место богатое флорой и фауной, где встречаются редкие виды животных и
          птиц, а также богатая растительность. Западно-Казахстанская область
          привлекает любителей экотуризма, благодаря своим живописным природным
          пейзажам и природным памятникам.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Западно-Казахстанская область имеет богатую культурную и историческую
          традицию. В регионе находятся древние курганы, археологические
          памятники и мавзолеи, которые свидетельствуют о многовековой истории
          этих земель. Культура области тесно связана с традициями казахского
          народа, включая музыку, танцы и ремесла. В городе Орал и других
          населенных пунктах проводятся культурные мероприятия и фестивали,
          посвященные казахской культуре и истории.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Западно-Казахстанской области основывается на сельском
          хозяйстве, добывающей и перерабатывающей промышленности. В регионе
          активно развиваются такие отрасли, как нефтегазовая промышленность,
          производство сельскохозяйственной продукции, переработка продуктов
          питания и химическая промышленность. Западно-Казахстанская область
          также известна производством зерновых культур, мяса и молока.
          Экономический потенциал региона также поддерживается благодаря
          развивающейся инфраструктуре.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Западно-Казахстанской области привлекает людей,
          интересующихся природой и историей. Здесь можно посетить
          многочисленные природные объекты, такие как озера и реки, а также
          археологические памятники и старинные курганы. Для любителей активного
          отдыха предусмотрены возможности для охоты, рыбалки и экотуризма.
          Западно-Казахстанская область также знаменита своей архитектурой и
          культурными событиями, такими как выставки и фестивали, посвященные
          казахским традициям и искусству.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
