<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Жамбылская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://qazaqgeography.kz/assets/media/oblast-zhambylskaya/medium-293039.jpg"
          alt="Жамбылская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Жамбылская область расположена в южной части Казахстана, на границе с
          Киргизией. Столицей области является город Тараз. Этот регион богат
          историческим наследием и культурным разнообразием. Жамбылская область
          играет важную роль в сельском хозяйстве, в том числе в производстве
          зерновых, овощей и фруктов. Также она известна развивающейся
          промышленностью, которая включает в себя такие отрасли, как пищевая и
          легкая промышленность.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Жамбылской области разнообразна и включает степи, горы и
          пустынные ландшафты. Одним из самых известных природных объектов
          является природный парк "Талас" с его живописными горами и уникальной
          флорой и фауной. Регион также известен своими реками, такими как река
          Талас, и многочисленными озерами, которые создают благоприятные
          условия для экотуризма и активного отдыха.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Жамбылская область является исторически важным регионом, известным
          своими археологическими памятниками и историческими городами. Тараз —
          древнейший город, который был важным центром торговли и культуры на
          Великом шелковом пути. В области расположены древние мавзолеи, мечети
          и другие памятники архитектуры, такие как мавзолей Айша-биби. Культура
          региона тесно связана с традициями казахского народа, включая народные
          промыслы, музыку и танцы.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Жамбылской области в значительной степени зависит от
          сельского хозяйства. Регион активно развивает производство зерновых
          культур, овощей и фруктов, а также животноводство. Кроме того, здесь
          развивается промышленность, включая переработку сельскохозяйственной
          продукции и производство строительных материалов. Жамбылская область
          также является важным транспортным узлом, соединяющим различные
          регионы Казахстана и соседние страны, что способствует развитию
          торговли и логистики.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Жамбылской области развивается благодаря историческим и
          природным достопримечательностям. Туристы могут посетить древние
          памятники Тараза, такие как мавзолей Айша-биби, а также насладиться
          природной красотой региона, например, побывав в природном парке
          "Талас". Регион также привлекает любителей активного отдыха, предлагая
          возможности для походов в горы, рыбалки и экологического туризма.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
