<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Карагандинская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://www.gov.kz/uploads/2023/3/16/cee604635d40b12efd4c60cefc15830f_original.245104.jpeg"
          alt="Карагандинская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Карагандинская область расположена в центральной части Казахстана.
          Столицей области является город Караганда. Регион имеет стратегическое
          значение для экономики страны благодаря своим угольным и
          металлургическим ресурсам. Карагандинская область является важным
          промышленным и угольным центром Казахстана, а также крупным
          сельскохозяйственным регионом.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Карагандинской области разнообразна, несмотря на преобладание
          степей и полупустынь. Регион также имеет богатую флору и фауну, с
          несколькими озерами и реками, включая реку Сарысу. В области
          расположены природные заповедники, такие как национальный парк
          «Кызылкум», и живописные природные зоны, подходящие для экотуризма и
          активного отдыха.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Карагандинская область имеет глубокие исторические корни, о чем
          свидетельствуют многочисленные археологические памятники, такие как
          петроглифы в Тамды и другие памятники, относящиеся к древним временам.
          В истории региона важную роль сыграли сталинские лагеря, оставившие
          след в коллективной памяти. Сегодня Караганда продолжает развивать
          культурную жизнь, в частности, театры, музеи и культурные мероприятия,
          которые поддерживают традиции казахского народа.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Карагандинской области основывается на угольной
          промышленности, металлургии и химическом производстве. Регион является
          основным поставщиком угля для энергетической и металлургической
          отраслей Казахстана. В Караганде также расположены предприятия по
          переработке нефти, а также текстильные и пищевые производства.
          Сельское хозяйство в области ориентировано на выращивание зерновых,
          скотоводство и развитие молочного производства.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Карагандинской области активно развивается благодаря своим
          природным, историческим и культурным достопримечательностям. Здесь
          можно посетить такие природные объекты, как озера и леса, а также
          памятники археологии и истории. Особое внимание привлекает старинный
          город Караганда с его музеями, театрами и культурными центрами. Для
          любителей экотуризма и активного отдыха предлагаются горные походы,
          рыбалка и охота в природных заповедниках и парках региона.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
