<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кызылординская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://qazaqgeography.kz/assets/media/oblast-kyzylordinskaya/korkyt-ata.jpg"
          alt="Кызылординская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Кызылординская область расположена в южной части Казахстана. Столицей
          области является город Кызылорда. Регион известен своими природными
          ресурсами, особенно в области орошения и сельского хозяйства.
          Кызылординская область играет важную роль в производстве хлопка, риса
          и овощей, а также является ключевым центром в развитии химической и
          нефтехимической промышленности.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Кызылординской области отличается разнообразием, несмотря на
          преобладание пустынных и полупустынных ландшафтов. Регион знаменит
          своим природным наследием, таким как Аральское море, которое в прошлом
          было одним из крупнейших озер в мире. В области также находятся такие
          природные памятники, как Каракумы и Кызылкум, а также множество рек и
          озер, таких как река Сирдарья.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Кызылординская область имеет богатую историческую и культурную
          традицию. В регионе находятся археологические памятники, такие как
          древние поселения, курганы и остатки старинных городов, в том числе на
          важном историческом маршруте Великого шелкового пути. Культура области
          связана с традициями казахского народа, включая музыку, танцы и
          ремесла. Кызылорда также известна своими музеями и культурными
          центрами.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Кызылординской области основывается на сельском хозяйстве,
          особенно на орошении и производстве таких культур, как рис, хлопок и
          овощи. Регион также известен развитой химической промышленностью, в
          том числе производством удобрений и переработкой сельскохозяйственной
          продукции. Важной отраслью является также добыча угля и развитие
          нефтехимической промышленности. Сельское хозяйство и промышленность
          составляют основу экономической структуры региона.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Кызылординской области привлекает людей, интересующихся
          природой и историей региона. В области можно посетить такие
          исторические места, как древние поселения и памятники Великого
          шелкового пути. Природные достопримечательности, такие как Аральское
          море и река Сирдарья, также являются популярными объектами для
          туризма. Для любителей экотуризма и активного отдыха предлагаются
          походы по пустыне, рыбалка и отдых у озер.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
