<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Мангистауская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://travelpress.kz/userfiles/item/344/fullimage1.jpg"
          alt="Мангистауская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Мангистауская область расположена в юго-западной части Казахстана, на
          побережье Каспийского моря. Столицей области является город Актау.
          Этот регион известен своими уникальными природными ресурсами, в том
          числе залежами углеводородов, а также развитой металлургической и
          химической промышленностью. Мангистауская область играет важную роль в
          энергетическом секторе страны благодаря своим нефтегазовым
          месторождениям.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Мангистаусской области удивительна и разнообразна. Регион
          представляет собой смесь пустынных и полупустынных ландшафтов, а также
          имеет уникальные природные объекты, такие как горы, каньоны и
          прибрежные зоны Каспийского моря. Среди природных
          достопримечательностей — скальные образования в ущелье Шакпа, а также
          пещеры и исторические памятники, такие как древние мавзолеи и руины на
          побережье. Мангистауская область известна своими уникальными
          природными памятниками, такими как Актау и Бозжира.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Мангистауская область имеет богатое историческое и культурное
          наследие. Регион был важным пунктом на Великом шелковом пути. Здесь
          находятся археологические памятники, такие как древние города и
          мавзолеи, а также памятники, связанные с исламской культурой. Город
          Актау является культурным центром региона, где проходят выставки,
          фестивали и культурные мероприятия, посвященные истории и традициям
          казахского народа.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Мангистаусской области ориентирована на добычу
          углеводородов, включая нефть и газ, а также на переработку этих
          ресурсов в нефтехимической промышленности. Регион также известен своей
          горнодобывающей промышленностью, в том числе производством металлов и
          строительных материалов. Кроме того, Мангистауская область активно
          развивает сельское хозяйство, включая выращивание зерновых, а также
          развивает транспортную инфраструктуру, включая морские порты на
          Каспийском море.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Мангистаусской области привлекает туристов своими уникальными
          природными и историческими достопримечательностями. Среди самых
          популярных туристических направлений — природный парк Бозжира с его
          живописными каньонами и скальными образованиями, а также скалы в
          ущелье Шакпа. Природные красоты региона привлекают туристов для
          активного отдыха, включая походы, экотуризм и приключенческие
          путешествия. Кроме того, прибрежная зона Каспийского моря предлагает
          возможности для пляжного отдыха и водных видов спорта.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
