<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Павлодарская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://el.kz/upload/medialibrary/1b3/1b3be4ac723154acb83fb2b88b5641cb.jpeg"
          alt="Павлодарская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Павлодарская область расположена в северо-восточной части Казахстана,
          на границе с Россией. Столицей области является город Павлодар. Регион
          является важным промышленным центром, известен своим развитым
          энергетическим сектором, металлургией и химической промышленностью.
          Павлодарская область играет ключевую роль в энергетической
          инфраструктуре Казахстана, обеспечивая страну электроэнергией и
          теплом.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Павлодарской области разнообразна, с преобладанием степных
          ландшафтов, озер и рек. Одной из главных природных
          достопримечательностей региона является река Иртыш, которая протекает
          через всю область. Павлодарская область также известна своими
          природными заповедниками, такими как «Баянаул», которые привлекают
          туристов своими живописными горами, лесами и озерами. Регионы области
          также подходят для экологического туризма и активного отдыха.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Павлодарская область имеет богатую историю, которая тесно связана с
          развитием индустриализации Казахстана. В регионе находятся
          археологические памятники, такие как курганы и древние поселения.
          Город Павлодар является культурным центром региона, где проходят
          фестивали, выставки и театральные постановки, посвященные как
          традициям казахского народа, так и современному искусству. Кроме того,
          в области активно развиваются народные ремесла и музыка.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Павлодарской области основана на тяжелой промышленности,
          включая металлургию, химию и энергетику. Регион является одним из
          крупнейших центров энергетической промышленности Казахстана, в том
          числе благодаря таким крупным предприятиям, как Павлодарская
          теплоэлектростанция. В области также развиваются сельское хозяйство,
          животноводство и переработка сельскохозяйственной продукции.
          Павлодарская область играет важную роль в производстве угля,
          строительных материалов и сельскохозяйственных товаров.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Туризм в Павлодарской области развивается благодаря ее природным и
          историческим достопримечательностям. Одним из популярных мест является
          Баянаульский национальный парк, где туристы могут насладиться пешими
          походами, рыбалкой и экологическим туризмом. Область также известна
          своими озерами, такими как Сілетi, которые привлекают туристов для
          отдыха у воды и рыбалки. В Павлодаре находятся культурные и
          исторические памятники, которые привлекают любителей истории и
          архитектуры.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
