<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Улытауская Область</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://upload.wikimedia.org/wikipedia/ru/6/62/Ulytau.jpeg"
          alt="Улытауская область"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Улытауская область расположена в центральной части Казахстана и
          является одним из исторически значимых регионов страны. Столицей
          области является город Сарыадыр. Регион известен своими уникальными
          природными ландшафтами, горными массивами и историческими памятниками.
          Улытауская область также является центром исторической и культурной
          жизни, что связано с ее ролью в развитии казахской государственности и
          традиций.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа Улытауской области невероятно живописна и разнообразна. В этом
          регионе находятся как горные массивы, так и степные просторы. Одним из
          самых известных природных объектов является горный массив Улытау,
          который является не только природным, но и историческим памятником. В
          области также есть большое количество рек, озер и лесных массивов,
          которые делают регион привлекательным для экологического туризма и
          активного отдыха.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Улытауская область имеет богатое историческое наследие, связанное с
          развитием казахского народа и становлением казахской
          государственности. Здесь расположены исторические памятники, такие как
          курганы, древние могильники и другие археологические объекты. Улытау
          считается сакральным местом для казахов, и в этом регионе находятся
          важные памятники, связанные с историей Кочевой империи. В культурной
          жизни региона значительную роль играют народные ремесла, музыкальные
          традиции и праздники.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика Улытауской области ориентирована на сельское хозяйство, в
          первую очередь на выращивание зерновых культур, скотоводство и
          растениеводство. Регион также активно развивает горнодобывающую и
          строительную промышленность. В последние годы отмечается рост интереса
          к туризму, в том числе к экотуризму и историческому туризму, что
          становится важной частью местной экономики.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Улытауская область является привлекательным туристическим направлением
          благодаря своим природным красотам и историческим памятникам. Основные
          туристические аттракции включают горы Улытау, которые имеют не только
          природное значение, но и сакральное. В регионе также активно
          развиваются маршруты для пешеходных и конных походов, а также
          экотуризм. Туристы могут наслаждаться красотой местных природных
          пейзажей, исследуя древние памятники и курганы, а также участвовать в
          культурных мероприятиях и фестивалях.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
