<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Устав</title>
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <header style="margin-bottom: 100px">
      <nav>
        <span><a href="/">Главная</a></span>
        <span><a href="/events_list" id="store_id">События</a></span>
        <span><a href="/project_list" id="store_id2">Проекты</a></span>
        <span><a href="/news_list" id="store_id3">Новости</a></span>
        <span><a href="/chatAI" id="store_id4">Чат с AI</a></span>
        <span><a href="/people_list" id="store_id7">Участники</a></span>
        <span
          ><a href="/achievements_list" id="store_id8"
            >Достижения Школы</a
          ></span
        >
        <span
          ><a href="/achievements_frac_list" id="store_id9"
            >Достижения Фракции</a
          ></span
        >
        <span><a href="/ustav" id="store_id10">Устав клуба</a></span>
        <img
          id="cur"
          src="https://cdn.icon-icons.com/icons2/3285/PNG/512/magnifying_glass_magnifier_search_icon_208236.png"
          alt=""
          style="width: 30px; height: auto"
        />
      </nav>
    </header>

    <main>
      <section class="achievements-list">
        <center><h1 style="color: #006400">Устав</h1></center>

        <div class="section">
          <h2>1. Общие положения</h2>
          <p>
            <strong>1.1</strong> Экологический клуб «Eco House» (далее экоклуб)
            организован 30.08.2022 года.
          </p>
          <p>
            <strong>1.2</strong> Экоклуб создан с целью ведения
            учебно-исследовательской деятельности, воспитания экологического
            мировоззрения, пропаганды идей устойчивого развития.
          </p>
          <p>
            <strong>1.3</strong> Экоклуб действует при Факультете Гуманитарного
            Образования Восточно-Казахстанского технического университета,
            расположенного по адресу: г. Усть-Каменогорск ул. Серикбаева, 19.
          </p>
          <p>
            <strong>1.4</strong> Экоклуб осуществляет деятельность в
            соответствии с законодательством Республики Казахстан и внутренними
            положениями и нормативно-методическими документами университета.
          </p>
        </div>

        <div class="section">
          <h2>2. Основные задачи и их реализация</h2>
          <p><strong>2.1. Основными задачами экоклуба являются:</strong></p>
          <ul class="list">
            <li>развитие гражданской и общественной активности студентов;</li>
            <li>
              приобретение умений и навыков грамотного поведения в природе;
            </li>
            <li>передача опыта старших членов экоклуба младшим;</li>
            <li>
              способствование общественной деятельности студентов в сфере охраны
              окружающей среды, в том числе через волонтерство и проведение
              экологических мероприятий;
            </li>
            <li>
              участие в научных конференциях и семинарах, проведение
              научно-исследовательских работ студентов;
            </li>
            <li>
              проведение круглых столов, встреч, дебатов, творческих вечеров;
            </li>
            <li>пропаганда деятельности клуба в социальных сетях;</li>
            <li>
              проведение общественно-значимых мероприятий в сотрудничестве с
              экологическими организациями.
            </li>
          </ul>
          <p>
            <strong
              >2.2. Для реализации основных задач экоклуб имеет права:</strong
            >
          </p>
          <ul class="list">
            <li>организовывать и проводить мероприятия;</li>
            <li>издавать информационные листовки, бюллетени;</li>
            <li>проводить исследовательские работы и проекты;</li>
            <li>
              привлекать студентов университета к проводимым мероприятиям;
            </li>
            <li>
              проводить кино- и видеосъемки, монтировать и выпускать фильмы;
            </li>
            <li>готовить материалы для средств массовой информации;</li>
            <li>проводить выставки, встречи, экскурсии, походы;</li>
            <li>
              собирать и распространять общественно значимую экологическую
              информацию.
            </li>
          </ul>
        </div>

        <div class="section">
          <h2>3. Основные направления деятельности:</h2>
          <ul class="list">
            <li>сохранение и изучение дикой природы;</li>
            <li>
              поддержка экологических инициатив молодежи Восточно-Казахстанской
              области;
            </li>
            <li>организация мероприятий экологической направленности;</li>
            <li>
              взаимодействие с другими экологическими организациями,
              государственными учреждениями, вузами.
            </li>
          </ul>
        </div>

        <div class="section">
          <h2>4. Принципы деятельности экоклуба:</h2>
          <ul class="list">
            <li>добровольность;</li>
            <li>согласование;</li>
            <li>трудолюбие;</li>
            <li>равноправие;</li>
            <li>коллективизм;</li>
            <li>законность;</li>
            <li>строгое соблюдение Устава;</li>
            <li>любовь к природе и окружающей среде.</li>
          </ul>
        </div>

        <div class="section">
          <h2>5. Членство в экоклубе:</h2>
          <ul class="list">
            <li>членство в экоклубе осуществляется на добровольной основе;</li>
            <li>членом экоклуба может стать любой студент ВКТУ;</li>
            <li>
              членство в экоклубе осуществляется без взимания членских взносов;
            </li>
            <li>
              прием в члены Экоклуба осуществляется путем подачи письменного
              заявления в совет Экоклуба;
            </li>
            <li>
              члены Экоклуба участвуют в реализации уставных целей и задач путем
              личного труда, а также путем внесения денежных или материальных
              средств, предоставлением имущества, услуг и оказания помощи в иной
              форме, не запрещенной законодательством.
            </li>
          </ul>
        </div>

        <div class="section">
          <h2>6. Права и обязанности членов экоклуба:</h2>
          <h3>Члены экоклуба имеют право:</h3>
          <ul class="list">
            <li>
              участвовать в деятельности всех его органов, а также во всех
              проводимых мероприятиях;
            </li>
            <li>голосовать при принятии решений;</li>
            <li>
              обсуждать любые вопросы деятельности Экоклуба и вносить
              предложения по улучшению его работы;
            </li>
            <li>получать информацию о деятельности Экоклуба.</li>
          </ul>
          <h3>Члены экоклуба обязаны:</h3>
          <ul class="list">
            <li>
              проявлять инициативу в выборе деятельности в рамках организации;
            </li>
            <li>отчитываться о своей деятельности;</li>
            <li>выполнять Устав;</li>
            <li>
              уважать честь и достоинство других обучающихся и работников
              университета;
            </li>
            <li>выполнять решения высшего и руководящих органов Экоклуба;</li>
            <li>
              согласовывать свои действия с руководящими органами Экоклуба.
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
