<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Семипалатинский Полигон</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/achievements_list.css" />
    <style>
      .content {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .region-title {
        font-size: 28px;
        margin-bottom: 10px;
        color: #2a722a;
      }

      .region-info {
        margin-bottom: 20px;
      }

      .region-info h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .region-info p {
        font-size: 16px;
        line-height: 1.6;
      }

      .region-image {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <main class="content" style="margin-top: 50px">
      <center>
        <img
          src="https://baigenews.kz/storage/storage/news/2022/08/29/mainphoto/106564/1200x700_pUZXcDsIC8U9CosY7VVy2XpiYQngeiXtmtjLqlTO.jpg"
          alt="Семипалатинский ядерный полигон"
          class="region-image"
        />
      </center>
      <div class="region-info">
        <h3>Общая информация</h3>
        <p>
          Семипалатинский ядерный полигон — крупнейший ядерный испытательный
          полигон Советского Союза, расположенный в восточной части Казахстана,
          в 150 км от города Семей. Он был открыт в 1949 году и использовался
          для проведения ядерных испытаний до 1989 года. На его территории было
          проведено 456 ядерных испытаний, включая как подземные, так и
          атмосферные взрывы. Полигон является одним из самых загрязнённых мест
          в мире и имеет серьёзные экологические и социальные последствия.
        </p>
      </div>
      <div class="region-info">
        <h3>Природа</h3>
        <p>
          Природа вокруг Семипалатинского полигона сильно пострадала из-за
          многочисленных ядерных испытаний. Многие районы остаются радиоактивно
          загрязнёнными, что привело к исчезновению многих видов флоры и фауны.
          Территория вокруг полигона имеет высокие уровни радиации, что делает
          её опасной для жизни и здоровья людей. В то же время, несмотря на
          радиоактивное загрязнение, на некоторых участках сохранились редкие
          виды растений и животных, которые адаптировались к тяжёлым условиям.
        </p>
      </div>
      <div class="region-info">
        <h3>Культура и история</h3>
        <p>
          Семипалатинский полигон сыграл важную роль в истории ядерных испытаний
          и холодной войны. Он стал символом разрушительных последствий ядерных
          технологий для человека и природы. После распада Советского Союза
          Казахстан принял решение закрыть полигон в 1991 году, что стало
          значимым шагом в усилиях по ограничению ядерных испытаний в мире.
          Сегодня Семипалатинский полигон — это место памяти и напоминание о
          ценности мира и безопасности.
        </p>
      </div>
      <div class="region-info">
        <h3>Экономика</h3>
        <p>
          Экономика региона вокруг Семипалатинского полигона была сильно
          затруднена из-за ядерных испытаний. Местное население подвергалось
          воздействию радиации, что привело к повышенному уровню заболеваний и
          смертности. Множество земель стали непригодными для сельского
          хозяйства, а рыболовство в близлежащих водоёмах было серьёзно
          ограничено. Сегодня основное внимание уделяется восстановлению
          территории и оказанию медицинской помощи пострадавшему населению.
        </p>
      </div>
      <div class="region-info">
        <h3>Туризм</h3>
        <p>
          Семипалатинский полигон стал объектом экологического туризма,
          привлекая людей, заинтересованных в изучении истории ядерных испытаний
          и их воздействиях на природу и человека. На территории бывшего
          полигона проводится экскурсии и исследования, направленные на
          осознание опасности ядерных технологий. Местные власти и международные
          организации также ведут работу по рекультивации земель и оказанию
          помощи населению, пострадавшему от испытаний.
        </p>
      </div>
    </main>

    <footer class="footer" style="position: relative; margin-top: 300px">
      <div class="footer_content">
        <div class="footer_section">
          <h4>О проекте</h4>
          <p>
            Наш проект посвящен продвижению экологической осведомленности и
            устойчивого развития в Казахстане. Мы стремимся вдохновить людей
            заботиться о природе и активно участвовать в её защите.
          </p>
        </div>
        <div class="footer_section">
          <h4>Контакты</h4>
          <ul>
            <li>Email: <a href="mailto:info@ecokz.kz">sch93@kargoo.kz</a></li>
            <li>Телефон: 8(7212) 25-31-28</li>
            <li>Адрес: г. Караганда, ул. Алиханова, 24</li>
          </ul>
        </div>
        <div class="footer_section">
          <h4>Социальные сети</h4>
          <ul class="social_links">
            <li>
              <a
                href="https://www.facebook.com/sch93krg/
              "
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/gimnazia_imeni_shakarima/"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <p>© 2024 Экология Свет Шакарима.</p>
      </div>
    </footer>
  </body>
</html>
